$white-color:#FFFFFF;
$brand-color:#15BE30;
$black-color:#000000;
$pera-color:#222222;
$text-gray:#908A8A;


html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    text-rendering: geometricPrecision;
}

body,
html,
* {
    font-family: 'Montserrat', ;
}

a,
a:hover,
a:focus,
button {
    text-decoration: none !important;
    outline: none !important;
    cursor: pointer;
}

a:not([href]):not([tabindex]) {
    color: #007bff;
    text-decoration: none;
}

button {
    cursor: pointer;
}

.btn {
    background-color: $brand-color;
    color: $white-color;
    border-radius: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

img {
    max-width: 100%;
}

textarea {
    resize: none;
}

body,
div,
a,
span,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
figure,
header,
label,
img,
::before,
::after {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
}

.padding-2rem {
    padding-bottom: 2rem
}

.section {
    padding: 6rem 0;
}

.section-header {
    margin-bottom: 40px;
}

.section-header h2 {
    font-weight: 900;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
}

label {
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: 4px;
}

.form-control {
    height: calc(1.5em + .75rem + 26px);
    border-radius: 0;
    background: rgba(255, 255, 255, 0.81);
}

.form-control:focus {
    outline: 0;
    box-shadow: none;
    border-color: $brand-color;
}

.flex-wrapper {
    display: flex;
    justify-content: space-between;
}

.mb-20 {
    margin-bottom: 20px;
}

.brand-hover {
    transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
}

.brand-hover:hover {
    background-color: #E8E8E8;
}

.mt-100 {
    margin-top: 100px;
}

.mb-80 {
    margin-bottom: 80px;
}

.mb-3rem {
    margin-bottom: 3rem;
}


.pt-0 {
    padding-top: 0;
}

.pb-12 {
    padding-bottom: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $black-color;
    font-weight: 700;
}

p {
    color: $pera-color;
    font-size: 14px;
    line-height: 24px;
}

@media (max-width: 767.98px) {
    .section {
        padding: 3rem 0;
    }
}

::-webkit-input-placeholder {
    /* Edge */
    font-weight: 600;
}

:-ms-input-placeholder {
    /* Internet Explorer */
    font-weight: 600;
}

::placeholder {
    font-weight: 600;
}

/* --- Header Starts --- */
.fixed-top {
    z-index: 0;
}

.navbar {
    padding: 0 1rem;

    .nav-link {
        font-size: 17px;
        text-align: right;
        color: #ffffff;
        padding: 1.5rem 1rem;

        &:hover {
            color: $brand-color;
        }
    }


}

.login-btn {
    border-radius: 4px;
    color: #fff !important;
    padding: 0.8rem 3rem !important;
}

.navbar-brand {
    img {
        position: relative;
        top: 0px;
    }
}

.nav-item {
    position: relative;
    transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;


}

.navbar-light .navbar-nav .nav-link {
    color: $white-color;
    font-size: 14px;
    font-weight: 600;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: $brand-color;
}

/*-- Banner Starts --*/

.banner {
    background: url(./assets/images/banner.png) fixed no-repeat;
    height: 89vh;
    background-size: cover;
    position: relative;
    z-index: -1;

    .banner-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 100%;

        h1 {
            color: $brand-color;
            font-size: 3rem;
        }
    }

}

/*-- Banner Ends --*/

/*-- Seacrh Box Starts --*/
.search-box-section {
    padding: 0 10rem;

    .search-box {
        background-color: $brand-color;
        height: 22vh;
        margin-top: -76px;
        z-index: 9999;
        box-shadow: 0 0 34px 0 rgba(63, 66, 87, 0.3);
        padding: 2.6rem 4rem;

        .input-group {
            position: relative;

            &::before {
                content: url(./assets/images/search.svg);
                position: absolute;
                z-index: 9;
                top: 22px;
                left: 15px;
            }

            .form-control {
                margin-right: 18px;
                padding-left: 52px;
            }
        }

        .input-group-text {
            font-size: 1rem;
            font-weight: 600;
            padding: 1rem 2rem;
            color: $white-color;
            color: $brand-color;
            background-color: $white-color;
            border: 1px solid $brand-color;
            border-radius: 0;
        }
    }

}

/*-- Seacrh Box Starts --*/


.video-card {
    margin-bottom: 35px;

    .thumbnail-image {}

    .play-v-block {
        margin-top: -47px;
        display: flex;
        justify-content: space-between;
    }

    .play-button {
        margin-left: 10px;
    }

    .timing-block {
        background-color: #5dbf3196;
        border-radius: 4px;
        display: inline-block;
        padding: 3px 14px;
        color: #fff;
        font-size: 13px;
        height: 26px;
        margin-top: 11px;
        margin-right: 12px;
        font-weight: 600;
    }

    .video-title-card {
        margin-top: 12px;

        .video-title {
            font-weight: 600;
            font-size: 20px;
            color: #000000;
        }

        .channel-title {
            font-weight: 600;
            font-size: 16px;
            color: #5dbf31;
        }

        .views-title {
            color: #908A8A;
            font-weight: 600;
            font-size: 12px;
        }
    }



}



/*-- Category Starts --*/
.app-category-section {
    .video-category-title {
        background-color: #5dbf3196;
        color: #fff;
        font-size: 12px;
        font-weight: 600;
        display: inline-block;
        padding: 3px 10px;
        border-radius: 4px;
        position: absolute;
        top: 10px;
        left: 25px;
    }

    .video-card {
        margin-bottom: 0;
    }

    .video-card .video-title-card .video-title {
        font-size: 16px;
    }

    .video-card .video-title-card .channel-title {
        font-size: 14px;
    }


}

.thumbnail-image {
    overflow: hidden;
}

.thumbnail-image:hover img {
    transform: scale(1.1);
    opacity: 0.8;
}

/*-- Category Ends --*/
/*-- About Section  Starts --*/
.about-section {
    background-color: #F5F5F5;
    text-align: center;

    button {
        padding: 0.5rem 2rem;
        font-size: 14px;
        font-weight: 700;
    }
}

/*-- About Section  Ends --*/

/*-- App Listing Starts --*/
.align-item-center {
    align-items: center;
}

.like {
    padding: 1rem;
}

.dislike {
    padding: 1rem 0;
}

.one-side-image {


    .thumbnail-image {
        img {
            height: 540px;
            object-fit: cover;
            width: 100%;
        }
    }
}

/*-- Month App Section Starts --*/

.month-app-section {
    background-color: #F5F5F5;

    h2 {
        font-size: 1.8rem;
        margin-bottom: 20px;
    }

    ul {
        margin-top: 15px;

        li {
            font-size: 14px;
            padding: 8px 0;
        }
    }
}

/*-- Footer Starts --*/
footer {
    background: $black-color;
    padding: 3rem 1rem;

    .logo {

        h2 {
            color: $brand-color;
        }

    }

    .footer-nav {
        ul {
            display: flex;
            padding: 1rem 0;

            li {

                padding: 0 1rem;

                a {
                    color: $white-color;
                    font-size: 14px;
                    font-weight: 500;

                    &:hover {
                        color: $brand-color;
                    }
                }

            }
        }

    }

    .footer-nav ul li:first-child {
        padding-left: 0;
    }

    hr {
        margin-top: 0rem;
        margin-bottom: 0rem;
        border-color: #353535;
    }

    .footer-social {
        ul {
            list-style-type: none;
            padding-inline-start: 0px;
        }

        ul a {
            width: 50px;
            height: 50px;
            background-color: $brand-color;
            border-radius: 50%;
            display: inline-block;
            line-height: 50px;
            text-align: center;
            transition: all .3s ease-in-out;
            -o-transition: all .3s ease-in-out;
            -webkit-transition: all .3s ease-in-out;
            -moz-transition: all .3s ease-in-out;
        }

        ul a:hover {
            background-color: $white-color;
        }

        ul li {
            display: inline-block;
            padding: 0 0.2rem;
        }

        ul a svg {
            position: relative;
            top: 4px;
        }
    }

    .flex-wrapper {
        display: flex;
        justify-content: space-between;
    }

}

.fixed-top-search {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0;
    z-index: 9999;
    padding: 1rem 4rem;
    background: rgba(0, 0, 0, 0.7);

    .search-box {
        background-color: transparent;
        height: 9vh;
        z-index: 9999;
        margin-top: 0;
        padding: 0;

        .input-group {
            background: transparent;

            .form-control {
                background: rgba(255, 255, 255, 0.8);
            }

            .input-group-text {
                color: $white-color;
                background-color: $brand-color;
                border: 1px solid $brand-color;
            }
        }

    }

}


.chennel-banner {
    img {
        height: 300px;
        width: 100%;
        object-fit: cover;
    }

}

.chennel-title-block {

    h2 {
        font-size: 25px;
    }

}

.channel-thubmnail {
    margin-bottom: 20px;
    width: 150px;
    height: 150px;
    border: 2px solid #ababab;
    border-radius: 50%;
    text-align: center;
    z-index: 99;
    line-height: 150px;
    background-color: #fff;

    img {
        padding: 1rem;
    }
}

.followers-counts {
    padding: 0 0rem 0 1rem;
    font-size: 14px;
    font-weight: 500;
}


.chennel-profile {
    margin-bottom: 80px;
    position: relative;
    top: -75px;
}

.channel-nav {
    margin-top: 30px;

    ul {
        justify-content: flex-start;

        li {
            padding: 0 1rem;

            a {
                color: #7b7b7b;
                font-weight: 500;

                &:hover {
                    color: $brand-color;
                }
            }
        }


    }



}

.channel-nav ul li:first-child {
    padding-left: 0;
}

.chennel-header {
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 53px;
    padding-bottom: 16px;


}

.subscribe-button {
    background-color: #f00;
    border: none;
    color: #fff;
    padding: 0.3rem 0.6rem;
    font-size: 14px;
    font-weight: 600;
}

.upload-block {
    position: relative;
    height: 570px;

    .inner-block {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    img {

        width: 70px;
    }

    button {
        margin-top: 49px;
        padding: 0.5rem 2rem;
        font-size: 16px;
        font-weight: 700;
    }
}


.video-recorder-block {
    .play-button {
        width: 55px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .timing-block {
        background-color: #5dbf3196;
        border-radius: 4px;
        display: inline-block;
        padding: 3px 14px;
        color: #fff;
        font-size: 13px;
        height: 26px;
        margin-top: 11px;
        margin-right: 12px;
        font-weight: 600;
        position: absolute;
        bottom: 10px;
        right: 0;
    }
}

/*-- Video Detail Container Starts --*/
.video-detail-container {

    background-color: #f7f7f7;
    margin-top: 92px;
    padding: 3rem 0;





    .video-title {
        margin: 20px 0;

        h4 {
            font-size: 1.5rem;
            font-weight: 600;
        }
    }

    .card {
        background: #fff;
        border: none;
        border-radius: 0;
        padding: 1rem;
        box-shadow: none;

        .ml-20 {
            margin-left: 10px
        }

        .align-center {
            align-items: center;
        }

        .profile-name {
            h4 {
                font-size: 1rem;
                font-weight: 500;

                span {
                    color: #989494;
                }
            }

        }

        .follower-like-block {
            .follower-count {
                font-size: 14px;
                color: #000;
                font-weight: 500;
            }
        }



        .profile-thumbnail {
            width: 60px;
            height: 60px;
            border: 1px solid #d8d7d7;
            border-radius: 50%;
            line-height: 60px;
            text-align: center;

            img {
                width: 24px;
            }
        }
    }

    .video-player-nav {
        padding: 1rem 0;
        border-bottom: 1px solid #e8e8e8;
    }

    .pera-block {
        margin-bottom: 10px;

        h4 {
            font-size: 1rem;
            font-weight: 500;
            margin-bottom: 0px;
        }

        p {
            color: #777373;
            font-size: 14px;
        }
    }

    .show-less {
        background-color: #5dbf31;
        color: #fff;
        font-weight: 600;
        border: none;
        padding: 0.3rem 1rem;
        font-size: 13px;
    }

    .similar-v-block {
        .sim-title {
            font-size: 1rem;
            padding: 0.5rem 0;
            border-bottom: 1px solid #c7c7c7;
            margin-bottom: 15px;
        }

        .video-title {
            margin: 0;
        }

        .video-card .video-title-card .video-title {
            font-size: 14px;
        }
    }

    .comment-block {
        .user-profile-thumbnail {
            width: 80px;
            height: 80px;

            img {
                border-radius: 50%;
                object-fit: cover;
                width: 80px;
                height: 80px;
            }
        }

        .comment-title-block {
            margin-bottom: 26px;

            span {
                font-size: 14px;
                font-weight: 500;
                margin-left: 15px;
            }
        }

        .populer-comment-block {
            padding: 0.5rem 0;
            border-bottom: 1px solid #d0d0d0;
            margin-top: 20px;

            li {
                a {
                    color: $brand-color;
                    font-size: 14px;
                    font-weight: 600;
                }
            }
        }

        .indi-comment-text-block {
            h4 {
                font-size: 14px;
                font-weight: 500;
                margin-bottom: 10px;

                span {
                    color: $text-gray;
                }
            }

            .comment-text {
                font-size: 14px;
                color: #4a4646;
            }

            .view-all-reply {
                margin-top: 5px;

                a {
                    color: $text-gray;
                    font-size: 14px;
                    font-weight: 500;
                }
            }


        }

        .user-thumb {
            width: 50px;
            height: 50px;
            margin-right: 20px;

            img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                object-fit: cover;
            }
        }

    }
}

/*-- Video Detail Container Starts --*/
/*-- Horizontal Card Starts --*/
.video-card-horizontal {
    display: flex;

    .thumb-img {
        img {
            width: 195px;
            height: 118px;
        }
    }


    h4 {
        font-size: 14px;
        font-weight: 500;
        margin-left: 14px;
    }

    p {
        margin-left: 14px;
        font-size: 13px;
        color: $text-gray;
        font-weight: 500;
    }
}

/*-- Horizontal Card Ends --*/
/*--- Removeable css ---*/
.custom-tabs .tabs-panel {
    overflow: hidden;
    border-bottom: solid 1px #eceff0;
}

.custom-tabs .tabs-panel>a.active {
    background-color: #eceff0;
}

.custom-tabs .tabs-panel>a {
    padding-left: 16px;
    padding-right: 16px;
}

.custom-tabs .tabs-panel>a,
.custom-tabs .tabs-panel>.acide-panel {
    height: 48px;
    padding-top: 13px;
}

.custom-tabs .tabs-panel a {
    display: block;
    float: left;
    color: #928e8e;
    font-weight: 500;
}

a.active {
    color: $brand-color;
}

.custom-tabs .tabs-panel>a.active i,
.custom-tabs .tabs-panel>a.active span {
    color: $brand-color;
    font-weight: 500;
}

.custom-tabs .tabs-panel a i,
.custom-tabs .tabs-panel a span {
    display: block;
    float: left;
}

.custom-tabs .tabs-panel>a {
    padding-left: 16px;
    padding-right: 16px;
}

.custom-tabs .tabs-panel>a span {
    line-height: 24px;
}

.sv-tags span {
    display: inline-block;
    padding: 5px 9px 1px 9px;
    margin-bottom: 10px;
    background-color: #eceff0;
    border-radius: 3px;
    margin-right: 7px;

    a {
        color: #777373;
        font-weight: 500;

        &:hover {
            color: $brand-color
        }
    }
}