html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  text-rendering: geometricPrecision;
}

body,
html,
* {
  font-family: "Montserrat";
}

a,
a:hover,
a:focus,
button {
  text-decoration: none !important;
  outline: none !important;
  cursor: pointer;
}

a:not([href]):not([tabindex]) {
  color: #007bff;
  text-decoration: none;
}

button {
  cursor: pointer;
}

.btn {
  background-color: #15BE30;
  color: #FFFFFF;
  border-radius: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

textarea {
  resize: none;
}

body,
div,
a,
span,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
figure,
header,
label,
img,
::before,
::after {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}

.padding-2rem {
  padding-bottom: 2rem;
}

.section {
  padding: 6rem 0;
}

.section-header {
  margin-bottom: 40px;
}

.section-header h2 {
  font-weight: 900;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
}

label {
  color: #fff;
  font-size: 1.2rem;
  margin-bottom: 4px;
}

.form-control {
  height: calc(1.5em + .75rem + 26px);
  border-radius: 0;
  background: rgba(255, 255, 255, 0.81);
}

.form-control:focus {
  outline: 0;
  box-shadow: none;
  border-color: #15BE30;
}

.flex-wrapper {
  display: flex;
  justify-content: space-between;
}

.mb-20 {
  margin-bottom: 20px;
}

.brand-hover {
  transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}

.brand-hover:hover {
  background-color: #E8E8E8;
}

.mt-100 {
  margin-top: 100px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-3rem {
  margin-bottom: 3rem;
}

.pt-0 {
  padding-top: 0;
}

.pb-12 {
  padding-bottom: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000000;
  font-weight: 700;
}

p {
  color: #222222;
  font-size: 14px;
  line-height: 24px;
}

@media (max-width: 767.98px) {
  .section {
    padding: 3rem 0;
  }
}
::-webkit-input-placeholder {
  /* Edge */
  font-weight: 600;
}

:-ms-input-placeholder {
  /* Internet Explorer */
  font-weight: 600;
}

::placeholder {
  font-weight: 600;
}

/* --- Header Starts --- */
.fixed-top {
  z-index: 0;
}

.navbar {
  padding: 0 1rem;
}
.navbar .nav-link {
  font-size: 17px;
  text-align: right;
  color: #ffffff;
  padding: 1.5rem 1rem;
}
.navbar .nav-link:hover {
  color: #15BE30;
}

.login-btn {
  border-radius: 4px;
  color: #fff !important;
  padding: 0.8rem 3rem !important;
}

.navbar-brand img {
  position: relative;
  top: 0px;
}

.nav-item {
  position: relative;
  transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}

.navbar-light .navbar-nav .nav-link {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 600;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #15BE30;
}

/*-- Banner Starts --*/
.banner {
  background: url(./assets/images/banner.png) fixed no-repeat;
  height: 89vh;
  background-size: cover;
  position: relative;
  z-index: -1;
}
.banner .banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}
.banner .banner-text h1 {
  color: #15BE30;
  font-size: 3rem;
}

/*-- Banner Ends --*/
/*-- Seacrh Box Starts --*/
.search-box-section {
  padding: 0 10rem;
}
.search-box-section .search-box {
  background-color: #15BE30;
  height: 22vh;
  margin-top: -76px;
  z-index: 9999;
  box-shadow: 0 0 34px 0 rgba(63, 66, 87, 0.3);
  padding: 2.6rem 4rem;
}
.search-box-section .search-box .input-group {
  position: relative;
}
.search-box-section .search-box .input-group::before {
  content: url(./assets/images/search.svg);
  position: absolute;
  z-index: 9;
  top: 22px;
  left: 15px;
}
.search-box-section .search-box .input-group .form-control {
  margin-right: 18px;
  padding-left: 52px;
}
.search-box-section .search-box .input-group-text {
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem 2rem;
  color: #FFFFFF;
  color: #15BE30;
  background-color: #FFFFFF;
  border: 1px solid #15BE30;
  border-radius: 0;
}

/*-- Seacrh Box Starts --*/
.video-card {
  margin-bottom: 35px;
}
.video-card .play-v-block {
  margin-top: -47px;
  display: flex;
  justify-content: space-between;
}
.video-card .play-button {
  margin-left: 10px;
}
.video-card .timing-block {
  background-color: #5dbf3196;
  border-radius: 4px;
  display: inline-block;
  padding: 3px 14px;
  color: #fff;
  font-size: 13px;
  height: 26px;
  margin-top: 11px;
  margin-right: 12px;
  font-weight: 600;
}
.video-card .video-title-card {
  margin-top: 12px;
}
.video-card .video-title-card .video-title {
  font-weight: 600;
  font-size: 20px;
  color: #000000;
}
.video-card .video-title-card .channel-title {
  font-weight: 600;
  font-size: 16px;
  color: #5dbf31;
}
.video-card .video-title-card .views-title {
  color: #908A8A;
  font-weight: 600;
  font-size: 12px;
}

/*-- Category Starts --*/
.app-category-section .video-category-title {
  background-color: #5dbf3196;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  display: inline-block;
  padding: 3px 10px;
  border-radius: 4px;
  position: absolute;
  top: 10px;
  left: 25px;
}
.app-category-section .video-card {
  margin-bottom: 0;
}
.app-category-section .video-card .video-title-card .video-title {
  font-size: 16px;
}
.app-category-section .video-card .video-title-card .channel-title {
  font-size: 14px;
}

.thumbnail-image {
  overflow: hidden;
}

.thumbnail-image:hover img {
  transform: scale(1.1);
  opacity: 0.8;
}

/*-- Category Ends --*/
/*-- About Section  Starts --*/
.about-section {
  background-color: #F5F5F5;
  text-align: center;
}
.about-section button {
  padding: 0.5rem 2rem;
  font-size: 14px;
  font-weight: 700;
}

/*-- About Section  Ends --*/
/*-- App Listing Starts --*/
.align-item-center {
  align-items: center;
}

.like {
  padding: 1rem;
}

.dislike {
  padding: 1rem 0;
}

.one-side-image .thumbnail-image img {
  height: 540px;
  object-fit: cover;
  width: 100%;
}

/*-- Month App Section Starts --*/
.month-app-section {
  background-color: #F5F5F5;
}
.month-app-section h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}
.month-app-section ul {
  margin-top: 15px;
}
.month-app-section ul li {
  font-size: 14px;
  padding: 8px 0;
}

/*-- Footer Starts --*/
footer {
  background: #000000;
  padding: 3rem 1rem;
}
footer .logo h2 {
  color: #15BE30;
}
footer .footer-nav ul {
  display: flex;
  padding: 1rem 0;
}
footer .footer-nav ul li {
  padding: 0 1rem;
}
footer .footer-nav ul li a {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
}
footer .footer-nav ul li a:hover {
  color: #15BE30;
}
footer .footer-nav ul li:first-child {
  padding-left: 0;
}
footer hr {
  margin-top: 0rem;
  margin-bottom: 0rem;
  border-color: #353535;
}
footer .footer-social ul {
  list-style-type: none;
  padding-inline-start: 0px;
}
footer .footer-social ul a {
  width: 50px;
  height: 50px;
  background-color: #15BE30;
  border-radius: 50%;
  display: inline-block;
  line-height: 50px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}
footer .footer-social ul a:hover {
  background-color: #FFFFFF;
}
footer .footer-social ul li {
  display: inline-block;
  padding: 0 0.2rem;
}
footer .footer-social ul a svg {
  position: relative;
  top: 4px;
}
footer .flex-wrapper {
  display: flex;
  justify-content: space-between;
}

.fixed-top-search {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0;
  z-index: 9999;
  padding: 1rem 4rem;
  background: rgba(0, 0, 0, 0.7);
}
.fixed-top-search .search-box {
  background-color: transparent;
  height: 9vh;
  z-index: 9999;
  margin-top: 0;
  padding: 0;
}
.fixed-top-search .search-box .input-group {
  background: transparent;
}
.fixed-top-search .search-box .input-group .form-control {
  background: rgba(255, 255, 255, 0.8);
}
.fixed-top-search .search-box .input-group .input-group-text {
  color: #FFFFFF;
  background-color: #15BE30;
  border: 1px solid #15BE30;
}

.chennel-banner img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.channel-thubmnail {
  margin-bottom: 50px;
}
.channel-thubmnail img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.chennel-profile {
  margin-top: -70px;
  margin-bottom: 80px;
}

.channel-nav ul {
  justify-content: flex-start;
}
.channel-nav ul li {
  padding: 0 1rem;
}
.channel-nav ul li a {
  color: #000;
  font-weight: 600;
}
.channel-nav ul li a:hover {
  color: #15BE30;
}

.chennel-header {
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 53px;
  padding-bottom: 16px;
}

.subscribe-button {
  background-color: #f00;
  border: none;
  color: #fff;
  padding: 0.3rem 0.6rem;
  font-size: 14px;
  font-weight: 500;
}

.upload-block {
  position: relative;
  height: 570px;
}
.upload-block .inner-block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.upload-block img {
  width: 70px;
}
.upload-block button {
  margin-top: 49px;
  padding: 0.5rem 2rem;
  font-size: 16px;
  font-weight: 700;
}

/*# sourceMappingURL=main.css.map */
